<div class="project-container">
  <a href="#" target="_blank">
    <h3>Portfiolio</h3>
    <img src="https://data.pixiz.com/output/user/frame/preview/400x400/1/3/3/9/3069331_726cc.jpg" alt="imagen projecto">
    <p><b>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut nec orci sit amet velit malesuada molestie at vel
        dolor. Vivamus mollis ipsum vitae magna fringilla, vitae molestie metus placerat. Suspendisse potenti. Aenean
        non bibendum libero. Sed rhoncus id enim eget aliquet. Nam ac eros ut dolor bibendum elementum. Sed sit amet
        quam libero. Morbi semper, ligula eget vestibulum lacinia, ante tellus blandit tellus, eu consectetur mi lacus
        at est. Duis at magna id justo euismod malesuada quis sit amet nibh. Sed a ornare erat.</b>
    </p>
  </a>
</div>

<div class="project-container">
  <a href="#" target="_blank">
    <h3>Portfiolio</h3>
    <img src="https://data.pixiz.com/output/user/frame/preview/400x400/1/3/3/9/3069331_726cc.jpg" alt="imagen projecto">
    <p><b>Este magnifico portfolio</b>
    </p>
  </a>
</div>

<div class="project-container">
  <a href="#" target="_blank">
    <h3>Portfiolio</h3>
    <img src="https://data.pixiz.com/output/user/frame/preview/400x400/1/3/3/9/3069331_726cc.jpg" alt="imagen projecto">
    <p><b>Este magnifico portfolio</b>
    </p>
  </a>
</div>