a{
  color: white;
  text-decoration: none;

  width: 6em;
  height: 2em;
  display: flex;
  justify-content: center;
}

a:link{
  color: white;

  }
a:active{
  color:rgb(127, 199, 127);
}
a:hover{
  color: green;
}

a:visited{
  color: black;
  background-color: white;
}
.links{
  display: flex;
  flex-direction: row;
  width: 30em;
  height: auto;
  justify-content: space-around;
  align-items: center;
}
  