a{
  color: white;
  text-decoration: none;
  width: 6em;
  height: 2em;
  display: flex;
  justify-content: center;
}

a:hover{
  color:black;
  background-color: white;
}

a:active{
  color:black;
  background-color: white;
}


.links{
  display: flex;
  flex-direction: row;
  width: 30em;
  height: auto;
  justify-content: center;
  align-items: center;
}
  